.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  min-height: 80vh;
  padding: 40px 20px;

  background: linear-gradient(rgba(37, 0, 58, 0.8), rgba(5, 1, 36, 0.7)),
    url('../../assets/take.jpg') no-repeat center center/cover;
}

/* IMAGE WRAPPER (GRADIENT RING) */
.hero-img-wrapper {
  margin-top: 40px;
  padding: 2px;
  border-radius: 50%;
  background: linear-gradient(267deg, #2564da, #B923E1);
}

/* IMAGE */
.hero img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-position: top;
  object-fit: cover;
  

  border: 4px solid rgba(255, 255, 255, 0.1);

  box-shadow: 
    0 0 20px rgba(177, 35, 225, 0.4),
    0 0 40px rgba(37, 100, 218, 0.3);

  transition: 0.4s ease;
}

.hero img:hover {
  transform: scale(1.05);
  box-shadow: 
    0 0 30px rgba(177, 35, 225, 0.6),
    0 0 60px rgba(37, 100, 218, 0.5);
}

/* TEXT */
.hero h1 {
  text-align: center;
  max-width: 800px;
  font-size: 50px;
  font-weight: 600;
}

.hero h1 span {
  background: linear-gradient(267deg, #25dac2c9 0.36%, #e123c8e3 102.06%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  max-width: 700px;
  text-align: center;
  font-size: 22px;
  line-height: 34px;
  color: #b9b9b9;
}

/* BUTTONS */
.hero-action {
  display: flex;
  gap: 12px;
}

.hero-connect,
.hero-resume {
  padding: 10px 15px;
  border-radius: 50px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-connect {
  background: linear-gradient(267deg, #2564da, #B923E1);
}

.hero-resume {
  border: 2px solid #B923E1;
}

.hero-connect:hover,
.hero-resume:hover {
  border: 2px solid white;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero img {
    width: 200px;
    height: 200px;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero p {
    font-size: 18px;
  }

  .hero-action {
    flex-direction: column;
    width: 100%;
  }

  .hero-connect,
  .hero-resume {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .hero-connect,
  .hero-resume {
    padding: 8px 16px;
    font-size: 14px;
  }
  .hero img {
    width: 200px;
    height: 200px;
  }
  
  .hero h1 {
    font-size: 28px;
  }

  .hero p {
    font-size: 18px;
  }

  .hero-action {
    flex-direction: column;
    width: 100%;
  }
}